<!doctype html>
<html>
	<head>
		<title>Artemis</title>
		<script>
			document.getElementById('this-guy').addEventListener('click', function() {
				const source = document.getElementById('source-env').value;
				const dest = document.getElementById('dest-env').value;
				window.location.href = `/deploycheck/${source}/${dest}`;
			})
		</script>
	</head>
	<body>
		<h1>Deploy environment</h1>

		<table>
			<tr style="font-weight:bold">
				<td>Source env</td>
				<td colspan="1"></td>
				<td>Destination env</td>
			</tr>
			<tr>
				<td><input type="text" name="Source env" value="int" id="source-env"></td>
				<td> -> </td>
				<td><input type="text" name="Destination env" id="dest-env"></td>
				<td><button id="this-guy">click</button></td>
			</tr>
		</table>

		<h3>Available environments</h3>
		{% for e in envs %}
		<li>{{ e.get_name() }}</li>
		{% endfor %}
	</body>
</html>