<html>
<head>
<title>Artemis</title>
<script type="text/javascript" src="https://s3-eu-west-1.amazonaws.com/files.artirix.com/fetchival.js"></script>
</head>
<body>
<h1>Components in {{ env.get_name() }}</h1>
<input type="button" onclick="location.reload()" value="Refresh" /><br /><br />

<table>
<tr style="font-weight:bold">
	<td>Name</td>
	<td>Uptime</td>
	<td>Pod name</td>
	<td>Image name</td>
	<td>Image tag</td>
	<td>Actions</td>
</tr>
{% for c in env.get_components('kube') %}
{% if c.get_image_tag() != "" %}
<tr>
	<td>{{ c.get_name() }}</td>
	<td>{{ tool.get_component_uptime(env.get_name(), c.get_name()) }}</td>
	<td>{{ tool.get_component_pod_name(env.get_name(), c.get_name()) }}</td>
	<td>{{ c.get_image_basename() }}</td>
	<td><input type="text" name="{{ c.get_name() }}" value="{{ c.get_image_tag() }}" id="image-{{ c.get_name() }}" /></td>
	<td><input type="button" onclick="fetchival('/update/{{ env.get_name() }}/{{ c.get_name() }}/'+document.getElementById('image-{{ c.get_name() }}').value).get()" value="Update" /></td>

</tr>
{% endif %}
{% endfor %}
</table>
</body>
</html>