<html>
<head>
<title>Artemis</title>
<script type="text/javascript" src="https://s3-eu-west-1.amazonaws.com/files.artirix.com/fetchival.js"></script>
</head>
<body>
<h1>Components in {{ env.get_name() }}</h1>
<input type="button" onclick="location.reload()" value="Refresh" /><br /><br />

<table>
<tr style="font-weight:bold">
	<td>Name</td>
	<td>Uptime</td>
	<td>Status</td>
	<td>Pod name</td>
	<td>Image name</td>
	<td>Image tag</td>
	<td>Actions</td>
</tr>
{% for c in components %}
<tr>
	<td>{{ c.name }}</td>
	<td>{{ c.uptime }}</td>
	<td><a href="/call/get-logs?env_name={{ c.env.get_name() }}&amp;pod_name={{ c.pod_name }}" target="_blank">{{ c.status }}</a></td>
	<td>{{ c.pod_name }}</td>
	<td>{{ c.image_name }}</td>

{% if c.status == "Running" %}
	<td><input type="text" name="{{ c.name }}" value="{{ c.image_tag }}" id="image-{{ c.name }}" /></td>
	<td>
		<input type="button" onclick="fetchival('/update/{{ c.env.name }}/{{ c.name }}/'+document.getElementById('image-{{ c.name }}').value).get(); alert('Updating image tag on {{ c.name }} ...');" value="Update" />
		<input type="button" onclick="fetchival('/recreate/{{ c.env.name }}/{{ c.name }}').get(); alert('Recreating {{ c.name }} ...');" value="Recreate" />
	</td>
{% else %}
	<td colspan="2"></td>
{% endif %}

</tr>
{% endfor %}
</table>
</body>
</html>